name: E2E

permissions:
  contents: read

on:
  push:
    branches: [ master ]
  pull_request:
    
jobs:

  E2E:
    runs-on: ubuntu-latest
    steps:

    - name: Check out code
      uses: actions/checkout@v6
      with:
        ref: ${{ github.event.workflow_run.head_sha }}
        submodules: 'recursive'      

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Kind Warmup
      run: kind create cluster -n sshpipertest
      
    - name: E2E
      run: docker compose up --build --abort-on-container-exit --exit-code-from testrunner
      working-directory: e2e
      env:
        COMPOSE_DOCKER_CLI_BUILD: "1"
        DOCKER_BUILDKIT: "1"

    - name: Benchmark
      run: docker compose up --build --abort-on-container-exit --exit-code-from testrunner
      working-directory: e2e
      env:
        COMPOSE_DOCKER_CLI_BUILD: "1"
        DOCKER_BUILDKIT: "1"
        SSHPIPERD_BENCHMARKS: "1"
        SSHPIPERD_SKIP_E2E: "1"


