name: Go

on:
  push:
    branches: [ master ]
    tags: [ 'v*.*.*' ]    
  pull_request:
    types: [assigned, opened, synchronize, reopened]

jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go 1.x
      uses: actions/setup-go@v2
      with:
        go-version: ^1.17      
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v2

    - name: Dep
      run: |
        set -e
        go version

    - name: fmt
      run: |
        if [ "$(gofmt -s -l libpiper sshpiperd | wc -l)" -gt 0 ]; then 
          exit 1; 
        fi

    - name: golangci-lint
      uses: golangci/golangci-lint-action@v2     
      with:
          args: --timeout=1m

    - name: Build
      run: |
        set -e

        go build -o sshpiperd
        ./sshpiperd version
      working-directory: sshpiperd

    - name: Test
      run: go test -v .
      working-directory: sshpiperd
