name: Snap package

on:
  workflow_run:
    workflows: ["E2E"]
    types: [completed]
    branches: [master]

jobs:

  snap:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    steps:

    - name: Check out code
      uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - uses: dotnet/nbgv@master
      with:
        setAllVars: true

    - name: set ver
      uses: mikefarah/yq@master
      with:
        cmd: yq -i '.version = "${{ env.NBGV_SimpleVersion }}"' sshpiperd/snap/snapcraft.yaml

    - name: Dep
      env:
        SNAP_SECRET: ${{ secrets.snap }}
      run: |
        set -e

        sudo snap install snapcraft --classic  
        echo $SNAP_SECRET | base64 -d > secret
        snap run snapcraft login --with secret

    - name: snap
      run: docker-compose up --build --abort-on-container-exit
      working-directory: sshpiperd/snap

    - name: push
      run: snap run snapcraft push *.snap
      working-directory: sshpiperd/snap
